# Dépendances
node_modules

# Fichiers de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossier de build
dist
build

# Configuration de l'éditeur
.vscode/
.idea/

# Fichiers système
.DS_Store

# Fichiers d'environnement locaux (ne doivent jamais être dans l'image)
.env.local
.env.*.local
